html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  background-image: url("/src/assets/img/fondo_domain.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 70px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#domain {
  font-size: 30px;
}

hr {
  color: rgb(176 25 122) !important;
}

#reload {
  padding: 10px;
  font-size: 20px;
  background-color: #aa1c78;
  color: #ffffff;
  border-color: #aa1c78;
}

#reload:hover {
  background-color: #b6699b;
  color: #ffffff;
  border-color: #b6699b;
}

#reload:active:hover {
  background-color: #b6699b;
  color: #ffffff;
  border-color: #b6699b;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #aa1c78;
  font-size: 30px;
}

.columns {
  column-count: 1;
  column-gap: 0px;
  display: inline-flex;
  overflow-y: auto;
  max-height: 40em;
}
